* {
	font-family: 'Sanchez', serif;
	color: #5d5d5d;
}

.header-bg {
	background-color: #f6f6f6;
}

.jumbotron-bg {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 357px;
}

.form-container {
	display: inline-block;
	background-color: #fff;
}

.search-icon {
	font-size: 24px;
}

.search {
	width: 420px;
	font-size: 24px;
	border: none;
	border-left: 1px solid #e5e5e5;
	padding-left: 15px;
	margin-left: 15px;
}
.search::placeholder {
	color: #5d5d5d;
}

.search:focus {
	outline: none;
}

.search-cont {
	padding: 25px 10px;
	color: #0c0d0d;
	background-color: #fff;
}

.list-age {
	display: inline-block;
	font-size: 24px;
	margin-left: 10px;
	padding: 16px 25px 21px 25px !important;
	color: #5d5d5d;
	background-color: #fff;
	padding: 5px 10px;
	border: none;
}

.newslatter {
	background-color: rgba(0,0,0,.5);
	color: #fafafa!important;
	vertical-align: bottom;
	margin-top: 103px;
}

.newslatter-input {
	padding: 8px 10px;
	border: none;
}

.newslatter-input:focus {
	outline: none; 
}

.btn-red {
	background-color: #cf475f;
	color: #fafafa;
	border: none;
}

.discount-text {
	font-size: 32px;
	color: #6d6d6d;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 45px;
	padding-bottom: 15px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.card-border {
	background-color: #fff;
	border: 10px solid #fff;
}

.icon-bg {
	background-color: #f6f6f6;
}

.icon-border {
	border-right: 5px solid #fff;
	border-radius: 100px;
}