* {
	font-family: 'Sanchez', serif;
	color: #5d5d5d;
}

.header-bg {
	background-color: #f6f6f6;
}

.jumbotron-bg {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 357px;
}

.form-container {
	display: inline-block;
	background-color: #fff;
}

.search-icon {
	font-size: 24px;
}

.search {
	width: 420px;
	font-size: 24px;
	border: none;
	border-left: 1px solid #e5e5e5;
	padding-left: 15px;
	margin-left: 15px;
}
.search::placeholder {
	color: #5d5d5d;
}

.search:focus {
	outline: none;
}

.search-cont {
	padding: 25px 10px;
	color: #0c0d0d;
	background-color: #fff;
}

.list-age {
	display: inline-block;
	font-size: 24px;
	margin-left: 10px;
	padding: 16px 25px 21px 25px !important;
	color: #5d5d5d;
	background-color: #fff;
	padding: 5px 10px;
	border: none;
}

.newslatter {
	background-color: rgba(0,0,0,.5);
	color: #fafafa!important;
	vertical-align: bottom;
	margin-top: 103px;
}

.newslatter-input {
	padding: 8px 10px;
	border: none;
}

.newslatter-input:focus {
	outline: none; 
}

.btn-red {
	background-color: #cf475f;
	color: #fafafa;
	border: none;
}

.discount-text {
	font-size: 32px;
	color: #6d6d6d;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 45px;
	padding-bottom: 15px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.card-border {
	background-color: #fff;
	border: 10px solid #fff;
}

.icon-bg {
	background-color: #f6f6f6;
	position: relative;
}

.icon-border {
	border-right: 5px solid #fff;
	border-radius: 100px;
}

.text-red {
	color: #cf475f;
	font-weight: bold!important;
}

.text-grey {
	color: #959595;
	text-decoration: line-through;
}

 .price-margin {
 	margin-top: 6px;
 }

 .tabs {
 	list-style: none outside none!important;
 }

 .tabs li {
 	position: relative;
 	display: inline-block;
 	border: 1px solid #000;
 }

 .tabs-lastest-ticket {
	padding: 10px;
 }

 .tabs-soon {
	padding: 10px;
	margin-left: 
 }

 .sidebar-active {
    background-color: #fcfcfc;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    padding: 2% 3%!important;
}

.sidebar-deactive {
    background-color: #f4f4f5;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    padding: 2% 3%!important;
    border-bottom: 1px solid #eaeaec;
    border-left: 1px solid #eaeaec;
}

.sidebar-content {
    background-color: #fcfcfc;
    color: #666666;
}

.sidebar-title {
    color: #cf475f;
    font-weight: bold;
    font-size: 100%!important;
}

.visible {
    display: block;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    display: none;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.news-controls {
    background-color: #fcfcfc;
    margin-right: 33px;
}